.login {
 display: grid;
 place-items: center;
 height: 100vh;
 margin-left: 32.5%;
 padding: 50px;
}

.login-container {
 display: flex;
 flex-direction: column;
 gap: 30px;
 margin-bottom: 120px;
}

.login-container > img {
 object-fit: contain;
 height: 100px;
}