.login {
 display: grid;
 place-items: center;
 height: 100vh;
 margin-left: 32.5%;
 padding: 50px;
}

.login-container {
 display: flex;
 flex-direction: column;
 gap: 30px;
 margin-bottom: 120px;
}

.login-container > img {
 object-fit: contain;
 height: 100px;
}

@media screen and (max-width: 1024px) {
 .login {
  margin-left: 25%;
 }
}

@media screen and (max-width: 768px) {
 .login {
  margin-left: 5%;
  padding-left: 0px;
 }
}

@media screen and (max-width: 464px) {
 .login {
  margin-left: 20%;
 }

 .login-container > img {
  height: 65px;
 }
}

@media screen and (max-width: 375px) {
 .login {
  margin-left: 7%;
 }
}