.email-row {
 display: flex;
 align-items: center;
 height: 50px;
 border-bottom: 1px solid whitesmoke;
 cursor: pointer;
 z-index: 999;
 font-size: 15px;
 font-family: 'Heebo', sans-serif;
}

.email-row:hover {
 border-top: 1px solid whitesmoke;
 box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.email-row-options,
.email-row-options-left,
.email-row-options-right {
 display: flex;
}

.email-row-message {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 82.5%;
 padding: 10px;
 gap: 20px;
}

.email-row-message-left,
.email-row-message-right {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 82.5%;
 padding: 10px;
 gap: 20px;
}

.email-row-message-left > h4,
.email-row-message-left > span {
 width: 400px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.email-row-from {
 flex: 0.3;
 margin-right: 100px;
 font-size: 15px;
}

.email-row-time {
 font-weight: bold;
}

.email-row-description {
 font-weight: 400;
 color: gray;
}

@media screen and (max-width: 1320px) {
 .email-row,
 .email-row-from {
  font-size: 12.5px;
 }

 .email-row-from {
  margin-right: -10px;
 }

 .email-row-message-right {
  margin-left: -25px;
 }

 .email-row-options-right {
  display: none;
 }
}

@media screen and (max-width: 795px) {
 .email-row {
  height: 75px;
 }

 .email-row-message {
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
 }

 .email-row-message-left {
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
 }

 .email-row-from {
  margin-right: 0px;
 }

 .email-row-message-left > h4,
 .email-row-message-left > span {
  width: 200px;
 }
}

@media screen and (max-width: 425px) {
 .email-row-options-left {
  flex-direction: column;
  align-items: center;
 }

 .email-row-message-left > h4 {
  font-weight: 500;
 }

 .email-row-from {
  font-size: 14px;
  font-weight: 500;
 }

 .email-row-time {
  color: darkblue;
  font-weight: 500;
 }
}

@media screen and (max-width: 375px) {
 .email-row-message {
  gap: 7.5px;
 }
}