.email-list {
 flex: 1;
 overflow: scroll;
 -ms-overflow-style: none;
 scrollbar-width: none;
}

.email-list-settings {
 position: sticky;
 top: 0;
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid whitesmoke;
 background-color: white;
 z-index: 999;
 padding-right: 10px;
}

.email-list-sections {
 position: sticky;
 top: 0;
 display: flex;
 background-color: white;
 border-bottom: 1px solid whitesmoke;
 z-index: 999;
}

.email-list-rows {
 padding-bottom: 20%;
}

.email-list::-webkit-scrollbar {
 display: none;
}